* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: linear-gradient(350deg, #332677 1.66%, #4E327F 50.17%, #A24779 98.98%);
    font-family: 'Comic Sans MS', cursive, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
}

.title img {
    width: 200px;
    margin-bottom: 80px;
}

#board {
    position: relative;
    width: 364px;
    height: 364px;
    margin: 0 auto 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: relative;
}

.cell img {
    width: 64%;
    height: 64%;
    object-fit: contain;
    display: block;
    margin: auto;
}

.cell img.symbol {
    width: 64%;
    height: 64%;
    object-fit: contain;
}

#winLine {
    position: absolute;
    width: 300px;
    height: 4px;
    background: red;
    display: none;
    transform-origin: center;
    z-index: 2;
}

/* Grid lines (2 vertical, 2 horizontal) */
.line {
    position: absolute;
    background: #231037;
    border-radius: 4px;
    box-shadow: 0px 4px 6px 0px #291757 inset;
    z-index: 0;
}

.v1 {
    width: 8px;
    height: 100%;
    left: 33.33%;
    top: 0;
}

.v2 {
    width: 8px;
    height: 100%;
    left: 66.66%;
    top: 0;
}

.h1 {
    height: 8px;
    width: 100%;
    top: 33.33%;
    left: 0;
}

.h2 {
    height: 8px;
    width: 100%;
    top: 66.66%;
    left: 0;
}

.back-button {
    background: transparent;
    border: 2px solid white;
    color: white;
    margin-top: 32px;
    padding: 12px 32px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;
}

.back-button:hover {
    background: rgba(255, 255, 255, 0.1);
}

.game-controls {
    margin-top: 20px;
    text-align: center;
}

#restartBtn {
    padding: 12px 32px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 12px;
}

#winLine.top {
    top: 55px;
    left: 0;
    width: 100%;
}

#winLine.mid {
    top: 175px;
    left: 0;
    width: 100%;
}

#winLine.bot {
    top: 300px;
    left: 0;
    width: 100%;
}

#winLine.colLeft {
    top: 0;
    left: 60px;
    height: 100%;
    width: 6px;
}

#winLine.colMid {
    top: 0;
    left: 180px;
    height: 100%;
    width: 6px;
}

#winLine.colRight {
    top: 0;
    left: 300px;
    height: 100%;
    width: 6px;
}

#winLine.topLeftBottomRight {
    top: 0;
    left: 5px;
    width: 141.42%;
    transform: rotate(45deg);
    transform-origin: left;
}

#winLine.topRightBottomLeft {
    top: 0;
    right: 5px;
    width: 141.42%;
    transform: rotate(-45deg);
    transform-origin: right;
}
