html, body {
  overflow-x: hidden;
}

body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #212121;
}

.calculator {
  max-width: 800px;
  height: 420px;
  margin-top: 50vh;
  margin-left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Hack", serif, Consolas, monospace;
  color: white;
  background-color: #2e2e2e;
  padding: 10px 20px 10px 20px;
  border-radius: 7px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
}

.hint {
  color: #c3c3c3;
}

@media screen and (max-width: 850px) {
  .calculator {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    border-radius: 0;
    transform: none;
  }
}