html, body
{
    width: 100%;
    height: 100%;
    border: 0px;
    padding: 0px;
    margin: 0px;
    border-spacing: 0px;
}

#container {
    margin: 0px auto;
    width: 500px;
    height: 375px;
    border: 10px #333 solid;
}

#videoElement {
    width: 500px;
    height: 375px;
    background-color: #666;
}