:root {
    --colors-surface-01: rgba(251, 252, 251, 1);
    --colors-surface-03: rgba(229, 230, 230, 1);
    --colors-surface-action: rgba(4, 86, 169, 1);
    --colors-icons-action: rgba(4, 86, 169, 1);
}

html, body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

i {
    color: rgba(27, 43, 62, 1);
}

.spixi-auth{
    padding: 24px;
    background: var(--colors-surface-01);
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.note {
    max-width: 342px;
    background: rgba(0, 111, 173, 0.15);
    padding: 12px;
    border-radius: 12px;
    border: 1px solid rgba(0, 111, 173, 0.5);
    display: flex;
    gap: 8px;
}

.inputs-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: stretch;
}

.inputs-container textarea{
    background: var(--colors-surface-03);
    border: none;
    border-radius: 12px;
    padding: 12px;
    overflow: auto;
    outline: none;
    resize: none;
    min-height: 88px;
    font-family: "Inter", sans-serif;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;

    &:focus{
        border-color: rgba(0, 111, 173, 0.5);
        box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.2);
    }
}

textarea.invalid {
    border-color: #dc3545;
    box-shadow: 0 0 0 3px rgba(220, 53, 69, 0.2);
}

.invalid-input{
    margin-top: -30px;
    margin-left: 8px;
    font-size: 10px;
    color: #dc3545;
    font-weight: 700;
}

.buttons-container{
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
}

.btn-primary{
    background: var(--colors-surface-action);
    padding: 8px 16px;
    border-radius: 12px;
    color: #fff;
    font-weight: 700;
    line-height: 16px;
    border: none;
    height: 48px;

    &:hover{
        cursor: pointer;
        background: var(--colors-surface-01);
        border: 2px solid var(--colors-surface-action);
        color: var(--colors-surface-action);

        i {
            color: var(--colors-surface-action);
        }
    }
}

.btn-primary i {
    color: #fff;
    margin-right: 8px;
}

.btn-outline{
    background: var(--colors-surface-01);
    padding: 8px 16px;
    border-radius: 12px;
    color: var(--colors-icons-action);
    font-weight: 700;
    line-height: 16px;
    border: 2px solid var(--colors-icons-action);
    height: 48px;

    &:hover{
        cursor: pointer;
        background: var(--colors-surface-03);
    }
}

.btn-outline i {
    color: var(--colors-icons-action);
    margin-right: 8px;
}

.backButton {
    font-size: 20px;
    padding: 5px;
    border: 1px solid black;
    display: inline-block;
    position: absolute;
}
